In [1]:
import pandas as pd

In [8]:
cursos = pd.read_html("http://tabela-cursos.herokuapp.com/index.html")[0]

In [9]:
cursos

                          Nome do curso
0                 Lógica de programação
1                         Java para Web
2                           C# para Web
3                         Ruby on Rails
4                      Cursos de Python
5                         PHP com MySql
6                         .NET para web
7            Novas integrações com Java
8                          TDD com Java
9                   Código limpo com C#
10  Preparatório para certificação Java
11                      Hardware básico
12                Persistência com .NET
13                  Desenvolvendo jogos
14                     Análise de dados
15                   Estatística básica
16                  Internet das coisas
17                Programação funcional
18                Boas práticas em Java
19          Orientação objetos com Java

In [26]:
cursos = cursos.rename(columns = {"Nome do curso":"Curso"})

In [27]:
cursos.columns.name = "id"

In [28]:
cursos

id                                Curso
0                 Lógica de programação
1                         Java para Web
2                           C# para Web
3                         Ruby on Rails
4                      Cursos de Python
5                         PHP com MySql
6                         .NET para web
7            Novas integrações com Java
8                          TDD com Java
9                   Código limpo com C#
10  Preparatório para certificação Java
11                      Hardware básico
12                Persistência com .NET
13                  Desenvolvendo jogos
14                     Análise de dados
15                   Estatística básica
16                  Internet das coisas
17                Programação funcional
18                Boas práticas em Java
19          Orientação objetos com Java

In [34]:
cursos.to_csv("Dados/cursos.csv", ";", index = False)

In [35]:
pd.read_csv("Dados/cursos.csv", ";")

                                  Curso
0                 Lógica de programação
1                         Java para Web
2                           C# para Web
3                         Ruby on Rails
4                      Cursos de Python
5                         PHP com MySql
6                         .NET para web
7            Novas integrações com Java
8                          TDD com Java
9                   Código limpo com C#
10  Preparatório para certificação Java
11                      Hardware básico
12                Persistência com .NET
13                  Desenvolvendo jogos
14                     Análise de dados
15                   Estatística básica
16                  Internet das coisas
17                Programação funcional
18                Boas práticas em Java
19          Orientação objetos com Java