In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("busca.csv")
df.head()

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1
3     1        ruby       1        0
4     1        ruby       0        1

In [6]:
# Separando o X e o Y

X_df =df[['home', 'busca', 'logado']]
Y_df = df['comprou']

In [9]:
# Criando os dummies

X_df_dummies = pd.get_dummies(X_df)
X_df_dummies.head()

   home  logado  busca_algoritmos  busca_java  busca_ruby
0     0       1                 1           0           0
1     0       0                 0           1           0
2     1       0                 1           0           0
3     1       1                 0           0           1
4     1       0                 0           0           1

In [8]:
# Tranformando em array

x = X_df_dummies.values
y = Y_df.values

In [11]:
# Separando os dados de treino e teste 

from sklearn.model_selection import train_test_split
import numpy as np

seed = 20
np.random.seed(20)


train_x, test_x, train_y, test_y = train_test_split(x,y,random_state=seed, test_size=0.1, stratify=y)

In [17]:
# Criando o modelo

from sklearn.naive_bayes import MultinomialNB

modelo = MultinomialNB()
modelo.fit(train_x,train_y)


# Testando modelo

from sklearn.metrics import accuracy_score

previsoes = modelo.predict(test_x)
accuracy = accuracy_score(test_y, previsoes)
accuracy

0.83

In [18]:
# Algoritmo base

from collections import Counter
Counter(y)

        # Iremos escolher o maior para o algoritmo base, ou seja o 1 (Sim)

Counter({1: 832, 0: 168})

In [24]:
# Algoritmo que já faz isso de forma automática

from sklearn.dummy import DummyClassifier

dummy_stratified = DummyClassifier()
dummy_stratified.fit(train_x, train_y)
acuracia = dummy_stratified.score(test_x,test_y)*100
acuracia

83.0