In [2]:
import pandas as pd

In [23]:
dados = pd.read_csv('https://gist.githubusercontent.com/guilhermesilveira/4d1d4a16ccbf6ea4e0a64a38a24ec884/raw/afd05cb0c796d18f3f5a6537053ded308ba94bf7/car-prices.csv')
dados.head()

   Unnamed: 0  mileage_per_year  model_year      price sold
0           0             21801        2000   30941.02  yes
1           1              7843        1998   40557.96  yes
2           2              7109        2006   89627.50   no
3           3             26823        2015   95276.14   no
4           4              7935        2014  117384.68  yes

In [24]:
dados = dados.rename(columns={'mileage_per_year':'milhas por ano', 'model_year': 'ano do modelo', 'price':'preco', 'sold': 'vendido'})

In [30]:
dados['idade do modelo'] = 2018 - dados['ano do modelo']

In [33]:
dados.drop(['Unnamed: 0','milhas por ano','ano do modelo' ], axis = 1)

          preco  vendido  km por ano  idade do modelo
0      30941.02        1   35077.809               18
1      40557.96        1   12619.387               20
2      89627.50        0   11438.381               12
3      95276.14        0   43158.207                3
4     117384.68        1   12767.415                4
...         ...      ...         ...              ...
9995   97112.86        0   25055.348               12
9996  107424.63        1   21312.814               16
9997   93856.99        0   20945.962                4
9998   51250.57        1   16836.576                7
9999   87945.73        0   19890.458               19

[10000 rows x 4 columns]

In [58]:
import numpy as np
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [59]:
x = dados[['preco', 'km por ano', 'idade do modelo']]
y = dados[['vendido']]

np.random.seed(5)

train_x, test_x, train_y, test_y = train_test_split(x,y,test_size=0.25,stratify=y)

In [61]:
scaler = StandardScaler()
scaler.fit(train_x)

_train_x = scaler.transform(train_x)
_test_x = scaler.transform(test_x)


model = SVC()
model.fit(_train_x, train_y)

previsoes = model.predict(_test_x)
acuracia = accuracy_score(test_y, previsoes)*100

C:\Users\joaom\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [62]:
acuracia

77.48